<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login System</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <h1 id="webTitle">Página Principal</h1>
            </a>
            <div class="button-container">
            <a href="/auth">
                <button id="loginBtn" class="nav-button">Iniciar Sesión</button>
            </a>
            <a href="/protected">
                <button id="profileBtn" class="nav-button" hidden>Perfil</button>
            </a>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <script src="/scripts/index.js"></script>
    <script type="module">
        import { getSession } from "/scripts/session.js";

        const session = await getSession();

        if (session) {
            document.getElementById("loginBtn").hidden = true;
            document.getElementById("profileBtn").hidden = false;
        }
    </script>
</body>
</html>