<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login System</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <h1 id="webTitle">Página Principal</h1>
            </a>
            <div class="button-container">
            <a href="/auth">
                <button id="loginBtn" class="auth-button">Iniciar Sesión</button>
            </a>>
                <button id="logoutBtn" class="auth-button" hidden>Cerrar Sesión</button>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <script src="/scripts/index.js"></script>
</body>
</html>