<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login System</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<header>
  <nav>
    <a href="/">
      <h1 id="webTitle">Página Principal</h1>
    </a>
    <div class="button-container">
      <button id="logoutBtn" class="nav-button">Cerrar Sesión</button>
    </div>
  </nav>
</header>
<main>
</main>
<script src="/scripts/protected.js"></script>
<script type="module">
  import { getSession } from "/scripts/session.js";

  const session = await getSession();

  if (!session) {
    window.location.replace('/');
  }

  document.getElementById('webTitle').textContent = `Hola, ${session.user.username}`;
</script>
</body>
</html>