body {
    font-family: 'Poppins', system-ui, sans-serif;
    margin: 0;
}
header nav a {
    text-decoration: none;
}
header nav {
    background-color: #232733;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
#webTitle {
    margin: 0;
    color: #d5d5d5;
}
.auth-container {
    color: black;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    max-width: 350px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.form-title{
    padding-top: 20px;
}
.form-group {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 80%;
    margin: auto;
}
.form-group label {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
.form-group input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #d3d3d3;
    outline: none;
}
.submit-btn{
    background-color: #375bc6;
    color: #d5d5d5;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.form-toggle{
    font-weight: bold;
    padding-bottom: 15px;
}
.warning-display{
    background-color: rgba(246, 210, 106, 0.65);
    text-align: left;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 10px;
}
#usernameGroup {
    display: none;
}
.form-group input:focus {
    border: 2px solid #6889ea;
}
.submit-btn:hover{
    background-color: #6889ea;
}
#usernameGroup.show {
    display: flex;
}